In [1]:
suppressMessages(suppressWarnings(library(tidyverse)))

In [ ]:
##TRANS

In [28]:
Metasoft_results_2 <-  read.table("../../ANALYSIS/META/METASOFT/FIRST_PASS/TRANSANCESTRY_METASOFT_RESULTS_FIRSTPASS.TAB",fill=TRUE,row.names=NULL,header=FALSE)%>%
mutate(STEP='FIRST')
colnames(Metasoft_results_2) <- c("MARKERNAME","N","PVALUE_FE","BETA_FE","STD_FE","PVALUE_RE","BETA_RE","STD_RE","PVALUE_RE2","STAT1_RE2","STAT2_RE2","PVALUE_BE","I_SQUARE","Q","PVALUE_Q","TAU_SQUARE",
                                "PVALUE_ADIPOGEN","PVALUE_AGEN","PVALUE_METSIM","NA1","NA2","NA3","STEP")
Metasoft_results_1 <-  read.table("../../ANALYSIS/META/METASOFT/SECOND_PASS/TRANSANCESTRY_METASOFT_SECONDPASS_RESULTS.TAB",fill=TRUE,row.names=NULL,header=FALSE)%>%
mutate(STEP='SECOND')
colnames(Metasoft_results_1) <- c("MARKERNAME","N","PVALUE_FE","BETA_FE","STD_FE","PVALUE_RE","BETA_RE","STD_RE","PVALUE_RE2","STAT1_RE2","STAT2_RE2","PVALUE_BE","I_SQUARE","Q","PVALUE_Q","TAU_SQUARE",
                                "PVALUE_ADIPOGEN","PVALUE_AGEN","PVALUE_METSIM","NA1","NA2","NA3","STEP")
Metasoft_results <-rbind(Metasoft_results_1,Metasoft_results_2)%>%arrange(MARKERNAME, STEP) %>%
distinct(MARKERNAME, .keep_all = TRUE)%>%filter(MARKERNAME!="RSID")

In [29]:
nrow(Metasoft_results)

[1] 2191365

In [30]:
META_THREE <- read.table(gzfile("../data/TRANSANCESTRY_GWAS.TAB.gz"),header=T,fill=TRUE,row.names=NULL)
TRANSANCESTRY_RESULTS <- merge(META_THREE,Metasoft_results,by="MARKERNAME")
TRANSANCESTRY_RESULTS <- TRANSANCESTRY_RESULTS%>%mutate(TOTAL_N=ceiling(ADIPO_N)+ceiling(AGEN_N)+ceiling(METSIM_N))%>%mutate(MAF_AVG=(ADIPO_EAF*2*ADIPO_N+AGEN_EAF*2*AGEN_N+METSIM_EAF*2*METSIM_N)/(2*TOTAL_N))%>%
filter(ADIPO_EAF>0.005)%>%filter(AGEN_EAF>0.005)%>%filter(METSIM_EAF>0.005)%>%select(-NA1,-N,-NA2,-NA3)

In [31]:
lead <- read.table("../../ANALYSIS/lead_transancestry_3mb_merged.txt",fill=TRUE,header=TRUE)
output_df <- merge(TRANSANCESTRY_RESULTS,lead)%>%
select(MARKERNAME,PVALUE_FE,CHROMOSOME,POSITION)%>%rename(MarkerName=MARKERNAME,Pvalue=PVALUE_FE,chromosome=CHROMOSOME,position=POSITION)%>%distinct()

In [32]:
head(output_df)

  MarkerName Pvalue   chromosome position
1 rs1000000  0.651423 12         126890980
2 rs10000010 0.553936  4          21618674
3 rs10000012 0.214890  4           1357325
4 rs10000013 0.593548  4          37225069
5 rs10000017 0.993433  4          84778125
6 rs1000002  0.902768  3         183635768

In [33]:
output_df%>%filter(MarkerName=="rs12051272")

  MarkerName Pvalue       chromosome position
1 rs12051272 3.89427e-213 16         82663288

In [34]:
for (i in 1:nrow(lead) ){
   
line_q <- lead[i,]
chr_q <- as.integer(line_q[1])
start_q<- as.integer(line_q[2])
end_q <- as.integer(line_q[3])
file_name <- paste0(chr_q,"_",start_q,"_",end_q,"_results_3mb.txt")
tmp_df <- output_df%>%filter(chromosome==chr_q & position >= start_q & position <= end_q)%>% distinct(MarkerName,.keep_all = TRUE)%>%select(MarkerName,Pvalue)
write.table(tmp_df,paste0("../../ANALYSIS/Locuszoom//trans/",file_name),sep = "\t",row.names=FALSE,quote=FALSE)
}

In [2]:
##EUR

In [3]:
Metasoft_results_2 <-  read.table("../../ANALYSIS/META/METASOFT/FIRST_PASS/EUROPEAN_METASOFT_RESULTS_FIRSTPASS.TAB",fill=TRUE,row.names=NULL,header=FALSE)%>%
mutate(STEP='FIRST')
colnames(Metasoft_results_2) <- c("MARKERNAME","N","PVALUE_FE","BETA_FE","STD_FE","PVALUE_RE","BETA_RE","STD_RE","PVALUE_RE2","STAT1_RE2","STAT2_RE2","PVALUE_BE","I_SQUARE","Q","PVALUE_Q","TAU_SQUARE",
                                "PVALUE_ADIPOGEN","PVALUE_METSIM","NA1","NA2","STEP")
Metasoft_results_1 <-  read.table("../../ANALYSIS/META/METASOFT/SECOND_PASS/EUROPEAN_METASOFT_SECONDPASS_RESULTS.TAB",fill=TRUE,row.names=NULL,header=FALSE)%>%
mutate(STEP='SECOND')
colnames(Metasoft_results_1) <- c("MARKERNAME","N","PVALUE_FE","BETA_FE","STD_FE","PVALUE_RE","BETA_RE","STD_RE","PVALUE_RE2","STAT1_RE2","STAT2_RE2","PVALUE_BE","I_SQUARE","Q","PVALUE_Q","TAU_SQUARE",
                                "PVALUE_ADIPOGEN","PVALUE_METSIM","NA1","NA2","STEP")
Metasoft_results <-rbind(Metasoft_results_1,Metasoft_results_2)%>%arrange(MARKERNAME, STEP) %>% distinct(MARKERNAME, .keep_all = TRUE)%>%filter(MARKERNAME!="RSID")

In [4]:
META_TWO <- read.table(gzfile("../data/EUR_GWAS.TAB.gz"),header=T,fill=TRUE,row.names=NULL)
EUR_RESULTS <- merge(META_TWO,Metasoft_results,by="MARKERNAME")
EUR_RESULTS <- EUR_RESULTS%>%mutate(TOTAL_N=ceiling(ADIPO_N)+ceiling(METSIM_N))%>%mutate(MAF_AVG=(ADIPO_EAF*2*ADIPO_N+METSIM_EAF*2*METSIM_N)/(2*TOTAL_N))%>%
filter(ADIPO_EAF>0.005)%>%filter(METSIM_EAF>0.005)%>%select(-NA1,-N,-NA2)

In [5]:
lead <- read.table("../../ANALYSIS/lead_european_3mb_merged.txt",fill=TRUE,header=TRUE)
 output_df <- merge(EUR_RESULTS,lead)%>%
select(MARKERNAME,PVALUE_FE,CHROMOSOME.x,POSITION.x)%>%rename(MarkerName=MARKERNAME,Pvalue=PVALUE_FE,chromosome=CHROMOSOME.x,position=POSITION.x)%>%distinct()

In [6]:
head(output_df)

  MarkerName Pvalue   chromosome position
1 rs10       0.197416  7          92383888
2 rs1000000  0.599152 12         126890980
3 rs10000010 0.640295  4          21618674
4 rs10000012 0.165036  4           1357325
5 rs10000013 0.565310  4          37225069
6 rs10000017 0.878447  4          84778125

In [7]:
output_df%>%filter(MarkerName=="rs12051272")

  MarkerName Pvalue       chromosome position
1 rs12051272 8.03985e-115 16         82663288

In [8]:
nrow(output_df)

[1] 2440357

In [9]:
for (i in 1:nrow(lead) ){
   
line_q <- lead[i,]
chr_q <- as.integer(line_q[1])
start_q<- as.integer(line_q[2])
end_q <- as.integer(line_q[3])
file_name <- paste0(chr_q,"_",start_q,"_",end_q,"_results_3mb.txt")
tmp_df <- output_df%>%filter(chromosome==chr_q & position >= start_q & position <= end_q)%>% distinct(MarkerName,.keep_all = TRUE)%>%select(MarkerName,Pvalue)
write.table(tmp_df,paste0("../../ANALYSIS/Locuszoom//eur/",file_name),sep = "\t",row.names=FALSE,quote=FALSE)
}

In [ ]:
# METSIM

In [ ]:
 read.table("../../ANALYSIS/