In [1]:
suppressMessages(suppressWarnings(library(tidyverse)))

In [2]:
### Load hg19 gene,TSS information

In [13]:
gene_annotation<- read.table("../../ANALYSIS/gene_annot_jun10.txt",header=T)

In [14]:
head(gene_annotation)

  ENSGID          NAME   CHR START  END    TSS
1 ENSG00000186092 OR4F5  1    69091  70008  69091
2 ENSG00000235249 OR4F29 1   367640 368634 367640
3 ENSG00000185097 OR4F16 1   621059 622053 622053
4 ENSG00000187634 SAMD11 1   860260 879955 860260
5 ENSG00000188976 NOC2L  1   879584 894689 894689
6 ENSG00000187961 KLHL17 1   895967 901095 895967

In [15]:
## Trans

In [16]:
eur_lead <- read.table("../../ANALYSIS/EUROPEAN_LEAD.TAB",header=T)

In [17]:
#gene to variant mapping

In [18]:
gene_variant <- data.frame()

for (i in 1:nrow(eur_lead) ){
   
line_q <- eur_lead[i,]
marker_q <- as.character(line_q[1])
chr_q <- as.integer(line_q[2])
start_q<- as.integer(line_q[5])
end_q <- as.integer(line_q[6])
lead_q <- as.integer(line_q[4])
position_q <- as.integer(line_q[3])
tmp_df <- gene_annotation%>%filter(CHR==chr_q & START >= start_q & END <= end_q)%>%mutate(INDEX=marker_q,WINDOW=lead_q,POSITION=position_q,TSS_DISTANCE=abs(TSS-POSITION))
gene_variant <- rbind(gene_variant,tmp_df)
}

In [19]:
###MAGMA

In [20]:
trans_magma <- read.table("../../ANALYSIS/POPS/EUR_MAGMA.genes.out",header=T)%>%rename(ENSGID=GENE)
gene_variant_1 <- merge(gene_variant,trans_magma,by="ENSGID")%>%dplyr::select(ENSGID,NAME,CHR.x,START.x,END,TSS,INDEX,WINDOW,POSITION,TSS_DISTANCE,P)%>%rename(CHR=CHR.x,START=START.x,MAGMA_P=P)

In [21]:
head(gene_variant_1)

  ENSGID          NAME   CHR START    END      TSS      INDEX      WINDOW
1 ENSG00000004700 RECQL  12  21621845 21654603 21654603 rs11045172 12
2 ENSG00000004975 DVL2   17   7128660  7137864  7137864 rs17805277 18
3 ENSG00000006047 YBX2   17   7191571  7197934  7197934 rs17805277 18
4 ENSG00000010318 PHF7    3  52444673 52457657 52444673 rs1108842   3
5 ENSG00000010319 SEMA3G  3  52467069 52479101 52479101 rs1108842   3
6 ENSG00000010322 NISCH   3  52489134 52527087 52489134 rs1108842   3
  POSITION TSS_DISTANCE MAGMA_P
1 20470221 1184382      1.1917e-02
2  7201753   63889      1.4694e-09
3  7201753    3819      1.8854e-09
4 52720080  275407      2.0366e-11
5 52720080  240979      1.6927e-11
6 52720080  230946      1.2830e-11

In [22]:
gene_variant_1%>%filter(CHR==1)

   ENSGID          NAME     CHR START     END       TSS       INDEX     WINDOW
1  ENSG00000067533 RRP15    1   218458629 218511325 218458629 rs2061155 1
2  ENSG00000067704 IARS2    1   220267444 220321380 220267444 rs2061155 1
3  ENSG00000092969 TGFB2    1   218519577 218617961 218519577 rs2061155 1
4  ENSG00000116141 MARK1    1   220701568 220837803 220701568 rs2061155 1
5  ENSG00000117791 MARC2    1   220921567 220958150 220921567 rs2061155 1
6  ENSG00000118873 RAB3GAP2 1   220321635 220445796 220445796 rs2061155 1
7  ENSG00000136628 EPRS     1   220141943 220220000 220220000 rs2061155 1
8  ENSG00000136630 HLX      1   221051699 221058401 221051699 rs2061155 1
9  ENSG00000143353 LYPLAL1  1   219347186 219386207 219347186 rs2061155 1
10 ENSG00000162813 BPNT1    1   220230824 220263804 220263804 rs2061155 1
11 ENSG00000162817 C1orf115 1   220863187 220872499 220863187 rs2061155 1
12 ENSG00000186205 MARC1    1   220960101 220987735 220960101 rs2061155 1
13 ENSG00000196660 SLC30A10 1   219858769 220131989 220131989 rs2061155 1
14 ENSG00000228208 C1orf143 1   218683438 218699320 218683438 rs2061155 1
   POSITION  TSS_DISTANCE MAGMA_P
1  219665008 1206379      3.4123e-04
2  219665008  602436      6.2294e-05
3  219665008 1145431      9.9161e-06
4  219665008 1036560      5.0570e-04
5  219665008 1256559      5.0570e-04
6  219665008  780788      6.7536e-03
7  219665008  554992      2.9347e-10
8  219665008 1386691      2.3861e-03
9  219665008  317822      1.1898e-10
10 219665008  598796      4.0189e-06
11 219665008 1198179      5.0570e-04
12 219665008 1295093      5.0570e-04
13 219665008  466981      2.2405e-10
14 219665008  981570      1.9844e-04

In [23]:
## Colocalization

In [24]:
trans_coloc <- read.table("../../ANALYSIS/COLOC_SUSIE/EUR_ANCESTRY_COLOC_H4.TAB",header=T)%>%rename(ENSGID=Probe)%>%dplyr::select(ENSGID,Tissue,H4_abf)

In [25]:
#trans_coloc_2 <- read.table("../../ANALYSIS/GTEX/EUR_EQTL_OVERLAPS.txt",header=T)
#trans_coloc_2 <- merge(gene_variant_1,trans_coloc_2,by="NAME")%>%dplyr::select(ENSGID,Tissue,H4_abf)

In [26]:
#trans_coloc <- rbind(trans_coloc_1,trans_coloc_2)

In [27]:
gene_variant_2<- data.frame()
for (i in 1:nrow(gene_variant_1) ){
line_q <- gene_variant_1[i,]
ensg_q <- as.character(line_q[1])
genep<- nrow(trans_coloc%>%filter(ENSGID==ensg_q))
if (genep>0){
c_df <- trans_coloc%>%filter(ENSGID==ensg_q)%>%dplyr::select(Tissue,H4_abf)%>%mutate(weight = case_when(grepl("Artery|Adipose|Heart", Tissue) ~ "1",TRUE ~ '0.8'))
pip_coloc <- max(c_df$H4_abf)
coloc_weight <- max(as.double((c_df%>%filter(H4_abf==pip_coloc))$weight))
}else {
pip_coloc <- 0
coloc_weight <- 0
}
tmp_df <- gene_variant_1[i,]%>%mutate(coloc_pip=pip_coloc,coloc_WT=coloc_weight)
gene_variant_2 <- rbind(gene_variant_2,tmp_df)
}

In [28]:
head(gene_variant_2)

  ENSGID          NAME   CHR START    END      TSS      INDEX      WINDOW
1 ENSG00000004700 RECQL  12  21621845 21654603 21654603 rs11045172 12
2 ENSG00000004975 DVL2   17   7128660  7137864  7137864 rs17805277 18
3 ENSG00000006047 YBX2   17   7191571  7197934  7197934 rs17805277 18
4 ENSG00000010318 PHF7    3  52444673 52457657 52444673 rs1108842   3
5 ENSG00000010319 SEMA3G  3  52467069 52479101 52479101 rs1108842   3
6 ENSG00000010322 NISCH   3  52489134 52527087 52489134 rs1108842   3
  POSITION TSS_DISTANCE MAGMA_P    coloc_pip coloc_WT
1 20470221 1184382      1.1917e-02 0.000000  0.0
2  7201753   63889      1.4694e-09 0.000000  0.0
3  7201753    3819      1.8854e-09 0.516068  0.8
4 52720080  275407      2.0366e-11 0.000000  0.0
5 52720080  240979      1.6927e-11 0.000000  0.0
6 52720080  230946      1.2830e-11 0.000000  1.0

In [29]:
##SMR

In [30]:
trans_smr <- read.table("../../ANALYSIS/SMR/Eur_ancestry_SMR.tab",header=T)%>%rename(ENSGID=probeID)

In [31]:
gene_variant_3 <- data.frame()
for (i in 1:nrow(gene_variant_2) ){
line_q <- gene_variant_2[i,]
ensg_q <- as.character(line_q[1])
genep<- nrow(trans_smr%>%filter(ENSGID==ensg_q))
if (genep>0){
smr_df <- trans_smr%>%filter(ENSGID==ensg_q)%>%dplyr::select(filename,p_SMR)%>%mutate(weight_smr = case_when(grepl("Artery|Adipose|Heart", filename) ~ "1",TRUE ~ '0.8'))
p_smr <- min(smr_df$p_SMR)
smr_weight <- max(as.double((smr_df%>%filter(p_SMR==p_smr))$weight_smr))
}else {
p_smr <- NA
smr_weight <-0 
}
tmp_df <- gene_variant_2[i,]%>%mutate(p_SMR=p_smr,SMR_WT=smr_weight)
gene_variant_3 <- rbind(gene_variant_3,tmp_df)
}

In [32]:
head(gene_variant_3)

  ENSGID          NAME   CHR START    END      TSS      INDEX      WINDOW
1 ENSG00000004700 RECQL  12  21621845 21654603 21654603 rs11045172 12
2 ENSG00000004975 DVL2   17   7128660  7137864  7137864 rs17805277 18
3 ENSG00000006047 YBX2   17   7191571  7197934  7197934 rs17805277 18
4 ENSG00000010318 PHF7    3  52444673 52457657 52444673 rs1108842   3
5 ENSG00000010319 SEMA3G  3  52467069 52479101 52479101 rs1108842   3
6 ENSG00000010322 NISCH   3  52489134 52527087 52489134 rs1108842   3
  POSITION TSS_DISTANCE MAGMA_P    coloc_pip coloc_WT p_SMR       SMR_WT
1 20470221 1184382      1.1917e-02 0.000000  0.0               NA 0.0
2  7201753   63889      1.4694e-09 0.000000  0.0               NA 0.0
3  7201753    3819      1.8854e-09 0.516068  0.8      0.000010196 0.8
4 52720080  275407      2.0366e-11 0.000000  0.0               NA 0.0
5 52720080  240979      1.6927e-11 0.000000  0.0               NA 0.0
6 52720080  230946      1.2830e-11 0.000000  1.0      0.038885720 1.0

In [33]:
## eQTL overlaps

In [34]:
trans_eqtl <- read.table("../../ANALYSIS/GTEX/EUR_EQTL_OVERLAPS.txt",fill=TRUE,row.names=NULL,header=TRUE)

In [35]:
head(trans_eqtl)

  Tissue               Transcript    P_EQTL
1 Kidney_Cortex        RP11-392O17.1 9.5e-08
2 Adipose_Subcutaneous RP11-392O17.1 7.6e-06
3 Adipose_Visceral     IRS1          1.2e-09
4 Adipose_Subcutaneous RP11-395N3.1  4.4e-05
5 Adipose_Subcutaneous IRS1          3.1e-12
6 Adipose_Visceral     RP11-395N3.2  4.2e-06

In [36]:
gene_variant_4 <- data.frame()
for (i in 1:nrow(gene_variant_3) ){
line_q <- gene_variant_3[i,]
ensg_q <- as.character(line_q[2])
genep<- nrow(trans_eqtl%>%filter(Transcript==ensg_q))
if (genep>0){
smr_df <- trans_eqtl%>%filter(Transcript==ensg_q)%>%dplyr::select(Tissue,P_EQTL)%>%mutate(weight_lookup = case_when(grepl("Artery|Adipose|Heart", Tissue) ~ "1",TRUE ~ '0.8'))
p_smr <- min(smr_df$P_EQTL)
smr_weight <- max(as.double((smr_df%>%filter(P_EQTL==p_smr))$weight_lookup))
}else {
p_smr <- NA
smr_weight <-0 
}
tmp_df <- gene_variant_3[i,]%>%mutate(P_EQTL=p_smr,EQTL_WT=smr_weight)
gene_variant_4 <- rbind(gene_variant_4,tmp_df)
}

In [37]:
head(gene_variant_4,1)

  ENSGID          NAME  CHR START    END      TSS      INDEX      WINDOW
1 ENSG00000004700 RECQL 12  21621845 21654603 21654603 rs11045172 12
  POSITION TSS_DISTANCE MAGMA_P  coloc_pip coloc_WT p_SMR SMR_WT P_EQTL EQTL_WT
1 20470221 1184382      0.011917 0         0        NA    0      NA     0

In [38]:
### LDSC(Expression modifier Score)

In [39]:
trans_ldsc <- read.table("../../ANALYSIS/GTEX/EUR_LDSC_RESULTS.TAB",fill=TRUE,row.names=NULL,header=TRUE)

In [40]:
head(trans_ldsc,2)

  GENE  Enrichment_p Coefficient_z_score Tissue        TSS
1 BPNT1 0.1445229    1.464883            Kidney_Cortex 220263804
2 BPNT1 0.1445229    1.464883            Adrenal_Gland 220263804

In [41]:
gene_variant_5 <- data.frame()
for (i in 1:nrow(gene_variant_4) ){
line_q <- gene_variant_4[i,]
ensg_q <- as.character(line_q[2])
genep<- nrow(trans_ldsc%>%filter(GENE==ensg_q))
if (genep>0){
ldsc_df <- trans_ldsc%>%filter(GENE==ensg_q)%>%dplyr::select(Tissue,Enrichment_p)%>%mutate(weight_ldsc = case_when(grepl("Artery|Adipose|Heart", Tissue) ~ "1",TRUE ~ '0.8'))
p_ldsc <- min(ldsc_df$Enrichment_p)
smr_weight <- max(as.double((ldsc_df%>%filter(Enrichment_p==p_ldsc))$weight_ldsc))
}else {
p_ldsc <- NA
smr_weight <-0 
}
tmp_df <- gene_variant_4[i,]%>%mutate(LDSC_P=p_ldsc,LDSC_WT=smr_weight)
gene_variant_5 <- rbind(gene_variant_5,tmp_df)
}

In [42]:
head(gene_variant_5)

  ENSGID          NAME   CHR START    END      TSS      INDEX      WINDOW
1 ENSG00000004700 RECQL  12  21621845 21654603 21654603 rs11045172 12
2 ENSG00000004975 DVL2   17   7128660  7137864  7137864 rs17805277 18
3 ENSG00000006047 YBX2   17   7191571  7197934  7197934 rs17805277 18
4 ENSG00000010318 PHF7    3  52444673 52457657 52444673 rs1108842   3
5 ENSG00000010319 SEMA3G  3  52467069 52479101 52479101 rs1108842   3
6 ENSG00000010322 NISCH   3  52489134 52527087 52489134 rs1108842   3
  POSITION TSS_DISTANCE MAGMA_P    coloc_pip coloc_WT p_SMR       SMR_WT P_EQTL
1 20470221 1184382      1.1917e-02 0.000000  0.0               NA 0.0    NA
2  7201753   63889      1.4694e-09 0.000000  0.0               NA 0.0    NA
3  7201753    3819      1.8854e-09 0.516068  0.8      0.000010196 0.8    NA
4 52720080  275407      2.0366e-11 0.000000  0.0               NA 0.0    NA
5 52720080  240979      1.6927e-11 0.000000  0.0               NA 0.0    NA
6 52720080  230946      1.2830e-11 0.000000  1.0      0.038885720 1.0    NA
  EQTL_WT LDSC_P      LDSC_WT
1 0       0.626449957 1
2 0       0.000110552 1
3 0                NA 0
4 0                NA 0
5 0       0.002939900 1
6 0       0.000039100 1

In [43]:
##EMS overlaps

In [44]:
trans_ems <- read.table("../../ANALYSIS/EMS_OVERLAP/EUR_OVERLAP_EMS.TAB",fill=TRUE,row.names=NULL,header=TRUE)

In [45]:
head(trans_ems,2)

  CHROMOSOME POSITION GENE            EMS_N   Tissue        scaled_EMS
1 1          10003457 ENSG00000228150 3966000 Thyroid       0.39856274
2 1          10003457 ENSG00000162441  754000 Kidney_Cortex 0.07573245

In [46]:
gene_variant_6 <- data.frame()
for (i in 1:nrow(gene_variant_5) ){
line_q <- gene_variant_5[i,]
ensg_q <- as.character(line_q[1])
genep<- nrow(trans_ems%>%filter(GENE==ensg_q))
if (genep>0){
ems_df <- trans_ems%>%filter(GENE==ensg_q)%>%dplyr::select(Tissue,scaled_EMS)%>%mutate(weight_ems = case_when(grepl("Artery|Adipose|Heart", Tissue) ~ "1",TRUE ~ '0.8'))
s_ems <- max(ems_df$scaled_EMS)
ems_weight <- max(as.double((ems_df%>%filter(scaled_EMS==s_ems))$weight_ems))
}else {
s_ems <- 0
ems_weight <-0 
}
tmp_df <- gene_variant_5[i,]%>%mutate(EMS_SCORE=s_ems,EMS_WT=ems_weight)
gene_variant_6 <- rbind(gene_variant_6,tmp_df)
}

In [47]:
head(gene_variant_6,2)

  ENSGID          NAME  CHR START    END      TSS      INDEX      WINDOW
1 ENSG00000004700 RECQL 12  21621845 21654603 21654603 rs11045172 12
2 ENSG00000004975 DVL2  17   7128660  7137864  7137864 rs17805277 18
  POSITION TSS_DISTANCE ⋯ coloc_pip coloc_WT p_SMR SMR_WT P_EQTL EQTL_WT
1 20470221 1184382      ⋯ 0         0        NA    0      NA     0
2  7201753   63889      ⋯ 0         0        NA    0      NA     0
  LDSC_P      LDSC_WT EMS_SCORE EMS_WT
1 0.626449957 1       0.0000000 0
2 0.000110552 1       0.7718478 1

In [48]:
### POPS
stand01 <- function(x){(x-min(x,na.rm = TRUE))/(max(x,na.rm = TRUE)-min(x,na.rm = TRUE))}

In [49]:
pops_ems <- read.table("../../ANALYSIS/POPS/EUR_POPS.txt",fill=TRUE,row.names=NULL,header=TRUE)%>%mutate(POPS=stand01(PoPS_score))

In [50]:
head(pops_ems,2)

  ENSG            GENE  PoPS_score POPS
1 ENSG00000067533 RRP15  0.1188680 0.6147423
2 ENSG00000067704 IARS2 -0.4129018 0.4612016

In [51]:
gene_variant_7 <- data.frame()
for (i in 1:nrow(gene_variant_6) ){
line_q <- gene_variant_6[i,]
ensg_q <- as.character(line_q[1])
genep<- nrow(pops_ems%>%filter(ENSG==ensg_q))
if (genep>0){
pops_df <- pops_ems%>%filter(ENSG==ensg_q)%>%dplyr::select(POPS)
pops_score <- as.double(pops_df)
}else {
pops_score <- 0 
}
tmp_df <- gene_variant_6[i,]%>%mutate(POPS_SCORE=pops_score)
gene_variant_7 <- rbind(gene_variant_7,tmp_df)
}

In [52]:
head(gene_variant_7,2)

  ENSGID          NAME  CHR START    END      TSS      INDEX      WINDOW
1 ENSG00000004700 RECQL 12  21621845 21654603 21654603 rs11045172 12
2 ENSG00000004975 DVL2  17   7128660  7137864  7137864 rs17805277 18
  POSITION TSS_DISTANCE ⋯ coloc_WT p_SMR SMR_WT P_EQTL EQTL_WT LDSC_P
1 20470221 1184382      ⋯ 0        NA    0      NA     0       0.626449957
2  7201753   63889      ⋯ 0        NA    0      NA     0       0.000110552
  LDSC_WT EMS_SCORE EMS_WT POPS_SCORE
1 1       0.0000000 0      0.5608250
2 1       0.7718478 1      0.5804209

In [53]:
## DOWNSTREAMER

In [54]:
down_df <- read.table("../../ANALYSIS/DOWNSTREAMER//EUR_Downstreamer.txt",fill=TRUE,row.names=NULL,header=TRUE)%>%mutate(DOWNSTREAMER_P=pnorm(q=ZSCORE, lower.tail=TRUE))

In [55]:
head(down_df,2)

  ENSG            NAME     ZSCORE     DOWNSTREAMER_P
1 ENSG00000135698 MPHOSPH6 -0.8395639 0.200576463
2 ENSG00000140945 CDH13    -2.4315461 0.007517267

In [56]:
gene_variant_8 <- data.frame()
for (i in 1:nrow(gene_variant_7) ){
line_q <- gene_variant_7[i,]
ensg_q <- as.character(line_q[1])
genep<- nrow(down_df%>%filter(ENSG==ensg_q))
if (genep>0){
downs_df <- down_df%>%filter(ENSG==ensg_q)%>%dplyr::select(DOWNSTREAMER_P)
p_down <- min(downs_df$DOWNSTREAMER_P)
}else {
p_down <- NA
}
tmp_df <- gene_variant_7[i,]%>%mutate(DOWN_P=p_down)
gene_variant_8 <- rbind(gene_variant_8,tmp_df)
}

In [57]:
gene_variant_8%>%filter(NAME=="ADIPOQ")

  ENSGID          NAME   CHR START     END       TSS       INDEX      WINDOW
1 ENSG00000181092 ADIPOQ 3   186560463 186576252 186560463 rs16861209 5
  POSITION  TSS_DISTANCE ⋯ p_SMR SMR_WT P_EQTL EQTL_WT LDSC_P    LDSC_WT
1 186563114 2651         ⋯ NA    0      NA     0       0.0883593 1
  EMS_SCORE  EMS_WT POPS_SCORE DOWN_P
1 0.02929795 0.8    0.7104921  0.3467609

In [58]:
## Epi MAp

In [59]:
epi_map <- read.table("../../ANALYSIS/EPIMAP//EPIMAP.tab",fill=TRUE,row.names=NULL,header=TRUE)

In [60]:
head(epi_map,2)

  gene            score              group
1 ENSG00000008128 0.0882523589664035 Adipose
2 ENSG00000078808 0.0823467903667026 Adipose

In [61]:
gene_variant_9 <- data.frame()
for (i in 1:nrow(gene_variant_8) ){
line_q <- gene_variant_8[i,]
ensg_q <- as.character(line_q[1])
genep<- nrow(epi_map%>%filter(gene==ensg_q))
if (genep>0){
epi_df <- epi_map%>%filter(gene==ensg_q)%>%dplyr::select(score)
epi_score <- max(epi_df$score)
}else {
epi_score <- 0
}
tmp_df <- gene_variant_8[i,]%>%mutate(EPIMAP_SCORE=epi_score)
gene_variant_9 <- rbind(gene_variant_9,tmp_df)
}

In [62]:
## Genehancer

In [63]:
gh <- read.table("../../ANALYSIS/GeneHancer/GENEHANCER.TAB",fill=TRUE,row.names=NULL,header=TRUE)%>%mutate(CHROM=as.integer(om))%>%rename(START=name,END=start,SCORE=end)%>%
dplyr::select(-om)%>%mutate(SCORE=stand01(SCORE))

Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"

In [64]:
head(gh,2)

  START     END       SCORE      CHROM
1 133518045 133518161 0.00617284  6
2  51630569  51633727 0.24691358 13

In [65]:
gene_variant_10 <- data.frame()
for (i in 1:nrow(gene_variant_9) ){
line_q <- gene_variant_9[i,]
chr_q <- as.integer(line_q[3])
start_q<- as.integer(line_q[4])
end_q <- as.integer(line_q[5])
genep<- nrow(gh%>%filter(CHROM==chr_q & START >= start_q & END <= end_q))
if (genep>0){
gh_df <- gh%>%filter(CHROM==chr_q & START >= start_q & END <= end_q)%>%dplyr::select(SCORE)
gh_score <- max(gh_df$SCORE)
}else {
gh_score <- 0
}
tmp_df <- gene_variant_9[i,]%>%mutate(GH_SCORE=gh_score)
gene_variant_10 <- rbind(gene_variant_10,tmp_df)
}

In [66]:
write.table(gene_variant_10,"../../ANALYSIS/GeneHancer/EUR_GENEHANCER.TAB",quote=FALSE,sep="\t")

In [67]:
gene_variant_10%>%filter(NAME=="ADIPOQ")

  ENSGID          NAME   CHR START     END       TSS       INDEX      WINDOW
1 ENSG00000181092 ADIPOQ 3   186560463 186576252 186560463 rs16861209 5
  POSITION  TSS_DISTANCE ⋯ P_EQTL EQTL_WT LDSC_P    LDSC_WT EMS_SCORE  EMS_WT
1 186563114 2651         ⋯ NA     0       0.0883593 1       0.02929795 0.8
  POPS_SCORE DOWN_P    EPIMAP_SCORE      GH_SCORE
1 0.7104921  0.3467609 0.416221218865092 0.5740741

In [68]:
## CS2GO SCORE

In [69]:
cs2g <- read.table("../../ANALYSIS/cS2G/EUR_CS2G.TAB",fill=TRUE,row.names=NULL,header=TRUE)

In [70]:
head(cs2g,2)

  CHROMOSOME POSITION GENENAME  SCORE INFO
1  4         83899764 THAP9-AS1 1.0   |GTeX_Finemapped=1|PCHiC_Javierre=0.333
2 18         46361441 SMAD7     0.5   |PCHiC_Javierre=1|PCHiC_Jung=1|Cicero=1

In [71]:
gene_variant_11 <- data.frame()
for (i in 1:nrow(gene_variant_10) ){
line_q <- gene_variant_10[i,]
ensg_q <- as.character(line_q[2])
genep<- nrow(cs2g%>%filter(GENENAME==ensg_q))
if (genep>0){
cs2g_df <- cs2g%>%filter(GENENAME==ensg_q)%>%dplyr::select(SCORE)
score <- mean(cs2g_df$SCORE)
}else {
score <- NA
}
tmp_df <- gene_variant_10[i,]%>%mutate(CS2G_SCORE=score)
gene_variant_11 <- rbind(gene_variant_11,tmp_df)
}

In [72]:
gene_variant_11%>%filter(NAME=="CDH13")

  ENSGID          NAME  CHR START    END      TSS      INDEX      WINDOW
1 ENSG00000140945 CDH13 16  82660408 83830204 82660408 rs12051272 17
  POSITION TSS_DISTANCE ⋯ EQTL_WT LDSC_P   LDSC_WT EMS_SCORE EMS_WT POPS_SCORE
1 82663288 2880         ⋯ 1       0.155644 1       0.4593698 1      0.6555731
  DOWN_P      EPIMAP_SCORE      GH_SCORE CS2G_SCORE
1 0.007517267 0.965118097095955 0.558642 0.9895455

In [73]:
library('metap')

Warning message:
"package 'metap' was built under R version 4.2.1"

In [74]:
gene_priority <- data.frame()
for (i in 1:nrow(gene_variant_11) ){
line_q <- gene_variant_11[i,] 
p_g_raw <- na.omit(c(line_q$MAGMA_P,line_q$p_SMR,line_q$P_EQTL,line_q$LDSC_P,line_q$DOWN_P))
if (length(p_g_raw)<2){
p_g <- p_g_raw
} else {
p_g <- -log10(as.double(allmetap(p_g_raw,method="sumz")$p))}
S_G <- sum(as.double(na.omit(c(line_q$coloc_pip,line_q$EMS_SCORE,line_q$POPS_SCORE,line_q$EPIMAP_SCORE,line_q$GH_SCORE,line_q$CS2G_SCORE))))
C_S <- sum(as.double(na.omit(c(line_q$coloc_WT,line_q$SMR_WT,line_q$EQTL_WT,line_q$LDSC_WT,line_q$EMS_WT)))+
           length(as.double(na.omit(line_q$MAGMA_P,line_q$POPS_SCORE,line_q$DOWN_P,line_q$EPIMAP_SCORE,line_q$GH_SCORE,line_q$CS2G_SCORE))))/11
GP_SCORE <- ((as.double(p_g)+as.double(S_G))*as.double(C_S))/log2(line_q$TSS_DISTANCE)
tmp_df <- gene_variant_11[i,]%>%mutate(GP_SCORE=as.double(GP_SCORE),P_G=p_g,SG=S_G,CS=C_S)
gene_priority  <- rbind(gene_priority,tmp_df)
}

In [75]:
gene_priority <- arrange(gene_priority%>%group_by(WINDOW)%>% mutate(mx = max(GP_SCORE)) %>% arrange(desc(mx), desc(GP_SCORE)) %>% dplyr::select(-mx),CHR,POSITION)%>%
dplyr::select(NAME,CHR,POSITION,INDEX,GP_SCORE,TSS_DISTANCE,P_G,SG,CS,MAGMA_P,p_SMR,P_EQTL,LDSC_P,DOWN_P,coloc_pip,EMS_SCORE,POPS_SCORE,GH_SCORE,CS2G_SCORE,coloc_WT,SMR_WT,EQTL_WT,LDSC_WT,EMS_WT)

Adding missing grouping variables: `WINDOW`

In [76]:
write.table(gene_priority,"../../ANALYSIS/GENE_PRIORITY/RUR_GENE_PRIORITY.TAB",row.names=FALSE,quote=FALSE,sep="\t")

In [72]:
##REGRESSION

In [73]:
suppressWarnings(suppressMessages(library('relaimpo')))

In [74]:
sd

function (x, na.rm = FALSE)
sqrt(var(if (is.vector(x) || is.factor(x)) x else as.double(x),
    na.rm = na.rm))
<bytecode: 0x0000026a7caa9858>
<environment: namespace:stats>

In [75]:
normalit<-function(m){
   (m - mean(m))/(sd(m))
 }

In [76]:
df <- gene_priority%>%filter(WINDOW==2)%>%mutate(TSS_norm=normalit(log2(TSS_DISTANCE)),PG=normalit(P_G),CSN=normalit(CS),SGN=normalit(SG*2))

In [77]:
summary(df$SGN)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
-1.7260 -0.4323 -0.1721  0.0000  0.2758  2.0149

In [78]:
summary(df$)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:12: unexpected ')'
1: summary(df$)
               ^

In [ ]:
colnames(df)

In [ ]:
model <- lm(SG ~ coloc_pip + EMS_SCORE + POPS_SCORE+GH_SCORE+CS2G_SCORE ,data=df)

In [ ]:
summary(model)

In [ ]:
calc.relimp(model,rela=TRUE)$lmg

In [ ]:
booteval.relimp(bootrun, bty = "perc", level = 0.95,
sort = FALSE, norank = FALSE, nodiff = FALSE,
typesel = c("lmg", "pmvd", "last", "first", "betasq", "pratt", "genizi", "car"))

In [ ]:
library(AdaSampling)
data(brca)

In [ ]:
brca.mat <- apply(X = brca[,-10], MARGIN = 2, FUN = as.numeric)
brca.cls <- sapply(X = brca$cla, FUN = function(x) {ifelse(x == "malignant", 1, 0)})
rownames(brca.mat) <- paste("p", 1:nrow(brca.mat), sep="_")

In [ ]:
table(brca.cls)
brca.cls

In [83]:
set.seed(1)
pos <- which(brca.cls == 1)
neg <- which(brca.cls == 0)
brca.cls.noisy <- brca.cls
brca.cls.noisy[sample(pos, floor(length(pos) * 0.4))] <- 0
brca.cls.noisy[sample(neg, floor(length(neg) * 0.3))] <- 1

In [84]:
table(brca.cls.noisy)
brca.cls.noisy

brca.cls.noisy
  0   1
406 277

  [1] 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 0 1 1 0
 [38] 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 0 0
 [75] 0 1 1 1 0 1 1 1 0 0 0 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 1 0 1 0 0
[112] 1 1 1 0 1 1 0 0 1 0 0 1 1 1 0 1 1 0 0 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 0 1 0
[149] 0 0 1 1 1 1 1 0 0 1 1 0 1 0 0 1 0 0 0 1 1 1 0 0 1 0 0 1 1 1 0 1 1 0 1 1 1
[186] 0 0 1 1 1 1 0 1 0 0 0 1 1 0 1 1 1 0 1 0 1 0 0 0 0 0 1 0 1 0 0 0 1 1 1 1 0
[223] 1 0 0 0 1 1 1 1 1 0 0 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 1 1
[260] 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 1 1 1 0 1 0 0 0 0
[297] 0 0 0 1 1 0 1 1 0 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0
[334] 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 1 1 0 1 0 0 1 1 0 0 0 1 1 0 1 0 1 1 0 1 1 0
[371] 1 1 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1
[408] 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0
[445] 0 1 0 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 1
[482] 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0
[519] 0 0 1 0 1 1 1 0 0 0 1 0 0 1 1 1 1 1 0 1 1 0 0 0 1 1 1 1 0 1 0 0 0 0 0 0 1
[556] 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 1 0 0 0 0 0 1 1 0 0 1 0 0 1 0 0 1 0 0 0 0
[593] 0 1 1 0 0 1 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0
[630] 0 0 1 1 0 0 0 0 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
[667] 0 0 0 0 0 0 0 1 1 0 0 1 1 0 0 1 0

In [89]:
Ps <- rownames(brca.mat)[which(brca.cls.noisy == 1)]
Ns <- rownames(brca.mat)[which(brca.cls.noisy == 0)]

brca.preds <- adaSample(Ps, Ns, train.mat=brca.mat, test.mat=brca.mat,
                  classifier = "knn", C= 1, sampleFactor = 1)
head(brca.preds)

    P         N
p_1 1.0000000 0.0000000
p_2 0.6666667 0.3333333
p_3 1.0000000 0.0000000
p_4 0.6000000 0.4000000
p_5 0.8000000 0.2000000
p_6 1.0000000 0.0000000

In [176]:
write.table(gene_priority,"../../ANALYSIS/GENE_PRIORITY/EUR_GENE_PRIORITY_NM.TAB",row.names=FALSE,quote=FALSE,sep="\t")

In [139]:
top3_genes <- gene_priority%>%group_by(WINDOW) %>% slice_max(order_by = GP_SCORE, n = 3)

In [140]:
write.table(top3_genes,"../../ANALYSIS/GENE_PRIORITY/EUR_GENE_PRIORITY_TOP3_NM.TAB",row.names=FALSE,quote=FALSE,sep="\t")