In [4]:
suppressMessages(suppressWarnings(library(tidyverse)))
suppressMessages(suppressWarnings(library(reshape2)))

In [5]:
#MEDIAN TPM File

In [6]:
 mat <- read.table("../../ANALYSIS/GTEX//GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_median_tpm.gct",fill=TRUE,header=TRUE,sep="\t")

In [7]:
colnames(mat) <- c('Name','Description','Adipose_Subcutaneous','Adipose_Visceral_Omentum','Adrenal_Gland','Artery_Aorta','Artery_Coronary','Artery_Tibial','Bladder','Brain_Amygdala',
                   'Brain_Anterior.cingulate.cortex..BA24.','Brain...Caudate..basal.ganglia.','Brain...Cerebellar.Hemisphere','Brain...Cerebellum','Brain...Cortex',
                   'Brain...Frontal.Cortex..BA9.','Brain...Hippocampus','Brain...Hypothalamus','Brain...Nucleus.accumbens..basal.ganglia.','Brain...Putamen..basal.ganglia.',
                   'Brain...Spinal.cord..cervical.c.1.','Brain...Substantia.nigra','Breast...Mammary.Tissue','Cells...Cultured.fibroblasts','Cells...EBV.transformed.lymphocytes',
                   'Cervix...Ectocervix','Cervix...Endocervix','Colon...Sigmoid','Colon...Transverse','Esophagus...Gastroesophageal.Junction','Esophagus...Mucosa','Esophagus...Muscularis',
                   'Fallopian.Tube','Heart_Atrial_Appendage','Heart_Left.Ventricle','Kidney_Cortex','Kidney...Medulla','Liver','Lung','Minor.Salivary.Gland','Muscle_Skeletal',
                   'Nerve_Tibial','Ovary','Pancreas','Pituitary','Prostate','Skin...Not.Sun.Exposed..Suprapubic.','Skin...Sun.Exposed..Lower.leg.','Small.Intestine...Terminal.Ileum',
                   'Spleen','Stomach','Testis','Thyroid','Uterus','Vagina','Whole_Blood')

In [8]:
mat_df <- mat%>%select(Name,Description,Adipose_Subcutaneous,Adipose_Visceral_Omentum,Adrenal_Gland,Artery_Aorta,Artery_Coronary,Artery_Tibial,
                      Heart_Atrial_Appendage,Heart_Left.Ventricle,Kidney_Cortex,Liver,Muscle_Skeletal,Thyroid,Whole_Blood)%>%melt(., id.vars = c('Name','Description'))%>%rename(Tissue=variable,expr=value)

In [9]:
nrow(mat_df)

[1] 730600

In [7]:
df <- mat_df  %>% 
  group_by(Tissue) %>% 
  arrange(Tissue, desc(expr)) %>% 
  filter(expr > quantile(expr, .90))%>%rename(GENE=Name,GENE_NAME=Description)

In [8]:
ensg_gene <- read.table("../../ANALYSIS/FUMA_VEGAS2/gene_annot_jun10.txt",fill=TRUE,header=TRUE)%>%rename(GENE=ENSGID,GENE_NAME=NAME)
final_df <- merge(df,ensg_gene,by="GENE_NAME")%>%select(GENE_NAME,GENE.y,Tissue,expr,CHR,START,END,TSS)%>%rename(ENSG=GENE.y)

In [9]:
head(final_df)

  GENE_NAME ENSG            Tissue                   expr      CHR START
1 A1BG      ENSG00000121410 Liver                     395.9050 19  58856544
2 A1CF      ENSG00000148584 Liver                      36.4873 10  52559169
3 A2M       ENSG00000175899 Adrenal_Gland             157.0530 12   9220260
4 A2M       ENSG00000175899 Muscle_Skeletal            63.9648 12   9220260
5 A2M       ENSG00000175899 Artery_Aorta             1643.7600 12   9220260
6 A2M       ENSG00000175899 Adipose_Visceral_Omentum  683.1650 12   9220260
  END      TSS
1 58864865 58864865
2 52645435 52645435
3  9268825  9268825
4  9268825  9268825
5  9268825  9268825
6  9268825  9268825

In [10]:
final_df%>%filter(GENE_NAME=="ADIPOQ")

  GENE_NAME ENSG            Tissue                   expr    CHR START
1 ADIPOQ    ENSG00000181092 Adipose_Visceral_Omentum 502.093 3   186560463
2 ADIPOQ    ENSG00000181092 Adipose_Subcutaneous     564.667 3   186560463
  END       TSS
1 186576252 186560463
2 186576252 186560463

In [11]:
unique(final_df$CHR)

 [1] 19 10 12 22  3  4  9 15 11  2 20 16 17  7  1 14  6 21 18  5  8 13

In [ ]:
#METSIM

In [13]:
lead <- read.table("../../ANALYSIS/lead_metsim_3mb_merged.txt",fill=TRUE,header=TRUE)
tissues <- unique(final_df$Tissue)

In [14]:
unique(lead$CHR)

[1]  2  3  4  5 11 14 16

In [15]:
tissue_df <- data.frame()
for (i in seq_along(tissues))
{
df <- data.frame()
tissue <- tissues[i]
for (i in 1:nrow(lead) ){
   
line_q <- lead[i,]
chr_q <- as.integer(line_q[1])
start_q<- as.integer(line_q[2])
end_q <- as.integer(line_q[3])
con_df <- final_df%>%filter(Tissue==tissue)%>%filter(CHR==chr_q & START >= start_q & END <= end_q)%>%mutate(Tissue=tissue)
df   <- rbind(df ,con_df)   
}
tmp_df <- df%>%select(Tissue,CHR,GENE_NAME,TSS)%>%distinct()
tissue_df <-   rbind(tissue_df ,tmp_df) 
    }

In [30]:
a <- unique((tissue_df%>%unite("CH_G", CHR:GENE_NAME))$CH_G)
write.table(a,"../../ANALYSIS/GTEX/METSIM//1.txt",quote=FALSE)

In [16]:
 trans_file <- tissue_df%>%unite("CH_G", CHR:GENE_NAME)

In [18]:
ldsc_trans <- read.table("../../ANALYSIS/GTEX/METSIM_LDSC.tab",fill=TRUE,header=FALSE)
colnames(ldsc_trans) <- c("CH_G","Enrichment_p","Coefficient_z_score")

In [28]:
finalfile <- merge(ldsc_trans,trans_file,by="CH_G")%>%separate(CH_G,c(NA,"GENE"))
write.table(finalfile,"../../ANALYSIS/GTEX/METSIM_LDSC_RESULTS.TAB",sep = "\t",row.names=FALSE,quote=FALSE,col.names=TRUE)

In [11]:
### Trans variants

In [12]:
lead <- read.table("../../ANALYSIS/lead_transancestry_3mb_merged.txt",fill=TRUE,header=TRUE)
tissues <- unique(final_df$Tissue)

In [13]:
unique(lead$CHR)

 [1]  1  2  3  4  5  6  8 10 11 12 16 17 19

In [15]:
tissue_df <- data.frame()
for (i in seq_along(tissues))
{
df <- data.frame()
tissue <- tissues[i]
for (i in 1:nrow(lead) ){
   
line_q <- lead[i,]
chr_q <- as.integer(line_q[1])
start_q<- as.integer(line_q[2])
end_q <- as.integer(line_q[3])
con_df <- final_df%>%filter(Tissue==tissue)%>%filter(CHR==chr_q & START >= start_q & END <= end_q)%>%mutate(Tissue=tissue)
df   <- rbind(df ,con_df)   
}
tmp_df <- df%>%select(Tissue,CHR,GENE_NAME,TSS)%>%distinct()
tissue_df <-   rbind(tissue_df ,tmp_df) 
    }

In [16]:
 trans_file <- tissue_df%>%unite("CH_G", CHR:GENE_NAME)

In [17]:
ldsc_trans <- read.table("../../ANALYSIS/GTEX/LDSC_TRANS.tab",fill=TRUE,header=FALSE)
colnames(ldsc_trans) <- c("CH_G","Enrichment_p","Coefficient_z_score")

In [22]:
head(finalfile)

  CH_G     Enrichment_p Coefficient_z_score Tissue                 TSS
1 1_AHCYL1 0.449643     0.7574982           Whole_Blood            110527308
2 1_AHCYL1 0.449643     0.7574982           Kidney_Cortex          110527308
3 1_AHCYL1 0.449643     0.7574982           Adrenal_Gland          110527308
4 1_AHCYL1 0.449643     0.7574982           Liver                  110527308
5 1_AHCYL1 0.449643     0.7574982           Artery_Coronary        110527308
6 1_AHCYL1 0.449643     0.7574982           Heart_Atrial_Appendage 110527308

In [24]:
finalfile <- merge(ldsc_trans,trans_file,by="CH_G")
write.table(finalfile,"../../ANALYSIS/GTEX/TRANS_LDSC_RESULTS.TAB",sep = "\t",row.names=FALSE,quote=FALSE,col.names=TRUE)

In [18]:
lead_snp <- read.table("../../ANALYSIS/TRANSANCESTRY_LEAD.TAB",fill=TRUE,header=TRUE)%>%select(CHROMOSOME,POSITION)

In [36]:
df <- data.frame()
for (i in 1:nrow(lead_snp) ){
line_q <- lead[i,]
chr_q <- as.integer(line_q[1])
start_q<- as.integer(line_q[2])
end_q <- as.integer(line_q[3])
con_df <- tissue_df%>%filter(CHR==chr_q & abs(TSS-start_q) < 500000)
df   <- rbind(df ,con_df)
}

In [30]:
head(lead_snp)

  MARKERNAME CHROMOSOME POSITION  PVALUE_FE ADIPO_EA ADIPO_NEA ADIPO_EAF
1 rs333947   1          110470764 1.22e-08  A        G         0.15000
2 rs2061155  1          219665008 5.34e-09  T        C         0.40000
3 rs4846302  1          219730586 1.22e-08  C        G         0.30000
4 rs1515108  2          227123086 2.30e-11  T        C         0.38330
5 rs1108842  3           52720080 7.04e-16  C        A         0.45830
6 rs17366568 3          186570453 7.85e-99  A        G         0.09167
  ADIPO_N ADIPO_BETA ADIPO_SE ... PVALUE_BE I_SQUARE Q        PVALUE_Q
1 29278   -0.027511  0.006127 ... NA        42.4997   3.47825 0.17567400
2 29343   -0.021407  0.004436 ... NA        70.5095   6.78185 0.03367760
3 29329    0.023221  0.004714 ... NA        11.7892   2.26730 0.32185700
4 29307   -0.022317  0.004498 ... NA        89.5623  19.16130 0.00006910
5 29338    0.029927  0.004382 ... NA        78.5503   9.32415 0.00944685
6 24865   -0.154104  0.008685 ... NA        89.4243  18.91130 0.00007820
  TAU_SQUARE  PVALUE_ADIPOGEN PVALUE_AGEN PVALUE_METSIM TOTAL_N MAF_AVG
1 0.000137796 7.12e-06        0.030960800 8.53940e-04   46340   0.17795706
2 0.000320891 1.39e-06        0.264044000 5.38000e-05   46406   0.38924444
3 0.000020800 8.39e-07        0.204439000 2.93076e-03   46392   0.29580448
4 0.001659990 6.99e-07        0.015856000 7.40000e-09   46370   0.47467269
5 0.000467016 8.52e-12        0.112959000 4.93000e-07   46400   0.47987450
6 0.004113410 1.93e-70        0.000262156 2.01000e-31   38849   0.09459874

In [158]:
test <- merge(ldsc_trans,trans_file,by="CH_G")%>% mutate(p=pnorm(q=Coefficient_z_score, lower.tail=FALSE))%>% group_by(CH_G)  %>% mutate(pval.adj = p.adjust (p, method='BH'))
write.table(test,"../../ANALYSIS/GTEX/TRANS_LDSC_RESULTS.TAB",sep = "\t",row.names=FALSE,quote=FALSE,col.names=TRUE)

In [26]:
write.table(tissue_df%>%distinct(GENE_NAME,CHR),"../../ANALYSIS/GTEX/TRANS/MASTER_SPLIT.TAB",sep = "\t",row.names=FALSE,quote=FALSE,col.names=FALSE)

In [62]:
tissue_df <- data.frame()
for (i in seq_along(tissues))
{
df <- data.frame()
tissue <- tissues[i]
for (i in 1:nrow(lead) ){
   
line_q <- lead[i,]
chr_q <- as.integer(line_q[1])
start_q<- as.integer(line_q[2])
end_q <- as.integer(line_q[3])
con_df <- final_df%>%filter(Tissue==tissue)%>%filter(CHR==chr_q & START >= start_q & END <= end_q)%>%mutate(Tissue=tissue)
df   <- rbind(df ,con_df)   
}
tmp_df <- df%>%select(GENE_NAME)%>%distinct()
file_name <- paste0("Trans_",tissue,".tab")
write.table(tmp_df,paste0("../../ANALYSIS/GTEX//TRANS/",file_name),sep = "\t",row.names=FALSE,quote=FALSE,col.names=FALSE)
    }

In [ ]:
## Eur Variants

In [27]:
lead <- read.table("../../ANALYSIS/lead_european_3mb_merged.txt",fill=TRUE,header=TRUE)

In [28]:
tissue_df <- data.frame()
for (i in seq_along(tissues))
{
df <- data.frame()
tissue <- tissues[i]
for (i in 1:nrow(lead) ){
   
line_q <- lead[i,]
chr_q <- as.integer(line_q[1])
start_q<- as.integer(line_q[2])
end_q <- as.integer(line_q[3])
con_df <- final_df%>%filter(Tissue==tissue)%>%filter(CHR==chr_q & START >= start_q & END <= end_q)%>%mutate(Tissue=tissue)
df   <- rbind(df ,con_df)   
}
tmp_df <- df%>%select(Tissue,CHR,GENE_NAME,TSS)%>%distinct()
tissue_df <-   rbind(tissue_df ,tmp_df) 
    }

In [29]:
trans_file <- tissue_df%>%unite("CH_G", CHR:GENE_NAME)
ldsc_trans <- read.table("../../ANALYSIS/GTEX/LDSC_EUR.tab",fill=TRUE,header=FALSE)
colnames(ldsc_trans) <- c("CH_G","Enrichment_p","Coefficient_z_score")
finalfile <- merge(ldsc_trans,trans_file,by="CH_G")
write.table(finalfile,"../../ANALYSIS/GTEX/EUR_LDSC_RESULTS.TAB",sep = "\t",row.names=FALSE,quote=FALSE,col.names=TRUE)

In [ ]:
test <- merge(ldsc_trans,trans_file,by="CH_G")%>% mutate(p=pnorm(q=Coefficient_z_score, lower.tail=FALSE))%>% group_by(CH_G)  %>% mutate(pval.adj = p.adjust (p, method='BH'))
write.table(test,"../../ANALYSIS/GTEX/EUR_LDSC_RESULTS.TAB",sep = "\t",row.names=FALSE,quote=FALSE,col.names=TRUE)

In [30]:
write.table(tissue_df%>%distinct(GENE_NAME,CHR),"../../ANALYSIS/GTEX//EUR/MASTER_SPLIT.TAB",sep = "\t",row.names=FALSE,quote=FALSE,col.names=FALSE)

In [64]:
tissue_df <- data.frame()
for (i in seq_along(tissues))
{
df <- data.frame()
tissue <- tissues[i]
for (i in 1:nrow(lead) ){
   
line_q <- lead[i,]
chr_q <- as.integer(line_q[1])
start_q<- as.integer(line_q[2])
end_q <- as.integer(line_q[3])
con_df <- final_df%>%filter(Tissue==tissue)%>%filter(CHR==chr_q & START >= start_q & END <= end_q)%>%mutate(Tissue=tissue)
df   <- rbind(df ,con_df)   
}
tmp_df <- df%>%select(GENE_NAME)%>%distinct()
file_name <- paste0("Trans_",tissue,".tab")
write.table(tmp_df,paste0("../../ANALYSIS/GTEX//EUR//",file_name),sep = "\t",row.names=FALSE,quote=FALSE,col.names=FALSE)
    }