In [1]:
suppressMessages(suppressWarnings(library(tidyverse)))

In [14]:
ems <- read.table("../../ANALYSIS/EMS_OVERLAP/EMS_ALL_hg19c.bed",header=FALSE,fill=TRUE,row.names=NULL)
colnames(ems) <- c("CHROMOSOME","POSITION","POSITION1","NEA","EA","GENE","EMS_N","Tissue")
ems <- ems%>%select(-POSITION1)%>%mutate(CHROMOSOME=as.integer(CHROMOSOME))%>%mutate(GENE=gsub("*\\.[0-9]", "", GENE))

Warning message in mask$eval_all_mutate(quo):
"NAs introduced by coercion"

In [15]:
head(ems,1)

  CHROMOSOME POSITION  NEA EA GENE             EMS_N  Tissue
1 10         101766261 T   C  ENSG000001075546 489.23 Adipose_Subcutaneous

In [ ]:
#METSIM

In [16]:
METSIM_RESULTS <- read.table("../../Summary_Statistic//Formatted//METSIM_hg19_METAL_POS.TAB",header=F,fill=TRUE,row.names=NULL)
colnames(METSIM_RESULTS) <- c("CHROMOSOME","POSITION","MARKERNAME","METSIM_NEA","METSIM_EA","METSIM_N","PVALUE_FE","METSIM_BETA","METSIM_SE")

In [17]:
lead <- read.table("../../ANALYSIS/lead_metsim_3mb_merged.txt",fill=TRUE,header=TRUE)
output_df <- merge(METSIM_RESULTS,lead)%>%mutate(MAF=0.49)%>%select(MARKERNAME,CHROMOSOME,POSITION,PVALUE_FE,METSIM_NEA,METSIM_EA)

In [ ]:
#overlap

In [18]:
metsim_ems <- merge(ems,output_df,by=c("CHROMOSOME","POSITION"))%>%filter(METSIM_NEA==NEA & METSIM_EA==EA & PVALUE_FE < 0.05)%>%select(CHROMOSOME,POSITION,GENE,EMS_N,Tissue)

In [19]:
stand01 <- function(x){(x-min(x))/(max(x)-min(x))}

In [20]:
write.table(metsim_ems%>%mutate(scaled_EMS=stand01(EMS_N)),"../../ANALYSIS/EMS_OVERLAP/METSIM_OVERLAP_EMS.TAB",row.names=FALSE,quote=FALSE,sep="\t")

In [ ]:
### TRANS

In [2]:
Metasoft_results <-  read.table("../../ANALYSIS/META/METASOFT/SECOND_PASS/TRANSANCESTRY_METASOFT_SECONDPASS_RESULTS.TAB",fill=TRUE,row.names=NULL,header=FALSE)
META_THREE <- read.table("../data/TRANSANCESTRY_GWAS_ALLELECORRECTED.TAB",header=T,fill=TRUE,row.names=NULL)
colnames(Metasoft_results) <- c("MARKERNAME","N","PVALUE_FE","BETA_FE","STD_FE","PVALUE_RE","BETA_RE","STD_RE","PVALUE_RE2","STAT1_RE2","STAT2_RE2","PVALUE_BE","I_SQUARE","Q","PVALUE_Q","TAU_SQUARE",
                                "PVALUE_ADIPOGEN","PVALUE_AGEN","PVALUE_METSIM","NA1","NA2","NA3")
Metasoft_results <- Metasoft_results%>%filter(MARKERNAME!="RSID")
TRANSANCESTRY_RESULTS <- merge(META_THREE,Metasoft_results,by="MARKERNAME")
TRANSANCESTRY_RESULTS <- TRANSANCESTRY_RESULTS%>%mutate(TOTAL_N=ceiling(ADIPO_N)+ceiling(AGEN_N)+ceiling(METSIM_N))%>%mutate(MAF_AVG=(ADIPO_EAF*2*ADIPO_N+AGEN_EAF*2*AGEN_N+METSIM_EAF*2*METSIM_N)/(2*TOTAL_N))%>%
filter(ADIPO_EAF>0.005)%>%filter(AGEN_EAF>0.005)%>%filter(METSIM_EAF>0.005)%>%select(-NA1,-N,-NA2,-NA3)

In [3]:
head(TRANSANCESTRY_RESULTS,1)

  MARKERNAME CHROMOSOME POSITION ADIPO_EA ADIPO_NEA ADIPO_EAF ADIPO_N
1 rs10000081 4          17348363 T        C         0.2458    29318
  ADIPO_BETA ADIPO_SE ADIPO_PVALUE ... PVALUE_BE I_SQUARE Q        PVALUE_Q
1 -0.011588  0.005128 0.0284451    ... NA        0        0.893958 0.639557
  TAU_SQUARE PVALUE_ADIPOGEN PVALUE_AGEN PVALUE_METSIM TOTAL_N MAF_AVG
1 0          0.0238367       0.989502    0.96363       46381   0.3322903

In [ ]:
###eQTL OVERLAPS

In [4]:
trans_eqtl <- read.table("../../ANALYSIS/GTEX/METSIM_EQTL_OVERLAPS_RSID.txt",fill=TRUE,row.names=NULL,header=FALSE)
colnames(trans_eqtl) <- c("Tissue","Transcript","P_EQTL","MARKERNAME")

In [24]:
eqtl_overlaps <- merge(TRANSANCESTRY_RESULTS,trans_eqtl,by="MARKERNAME")%>%filter(PVALUE_FE<1E-04)%>%select(Tissue,Transcript,P_EQTL,MARKERNAME)

In [26]:
write.table(eqtl_overlaps,"../../ANALYSIS/GTEX/TRANS_EQTL_OVERLAPS_METSIM.txt",quote=FALSE,sep='\t')

In [ ]:
## OVERLAP

In [41]:
trans_ems <- merge(ems,TRANSANCESTRY_RESULTS,by=c("CHROMOSOME","POSITION"))%>%filter(ADIPO_NEA==NEA & ADIPO_EA==EA & PVALUE_FE < 0.05)%>%select(CHROMOSOME,POSITION,GENE,EMS_N,Tissue)

In [54]:
stand01 <- function(x){(x-min(x))/(max(x)-min(x))}

In [58]:
write.table(trans_ems%>%mutate(scaled_EMS=stand01(EMS_N)),"../../ANALYSIS/EMS_OVERLAP/TRANS_OVERLAP_EMS.TAB",row.names=FALSE,quote=FALSE,sep="\t")

In [59]:
##EUR

In [27]:
Metasoft_results <-  read.table("../../ANALYSIS/META/METASOFT/SECOND_PASS/EUROPEAN_METASOFT_SECONDPASS_RESULTS.TAB",fill=TRUE,row.names=NULL,header=FALSE)
META_TWO <- read.table(gzfile("../data/EUROPEAN_GWAS_ALLELECORRECTED.TAB"),header=T,fill=TRUE,row.names=NULL)
colnames(Metasoft_results) <- c("MARKERNAME","N","PVALUE_FE","BETA_FE","STD_FE","PVALUE_RE","BETA_RE","STD_RE","PVALUE_RE2","STAT1_RE2","STAT2_RE2","PVALUE_BE","I_SQUARE","Q","PVALUE_Q","TAU_SQUARE",
                                "PVALUE_ADIPOGEN","PVALUE_METSIM","NA1","NA2")
Metasoft_results <- Metasoft_results%>%filter(MARKERNAME!="RSID")
EUR_RESULTS <- merge(META_TWO,Metasoft_results,by="MARKERNAME")
EUR_RESULTS <- EUR_RESULTS%>%mutate(TOTAL_N=ceiling(ADIPO_N)+ceiling(METSIM_N))%>%mutate(MAF_AVG=(ADIPO_EAF*2*ADIPO_N+METSIM_EAF*2*METSIM_N)/(2*TOTAL_N))%>%
filter(ADIPO_EAF>0.005)%>%filter(METSIM_EAF>0.005)%>%select(-NA1,-N,-NA2)

In [28]:
eqtl_overlaps <- merge(EUR_RESULTS,trans_eqtl,by="MARKERNAME")%>%filter(PVALUE_FE<1E-04)%>%select(Tissue,Transcript,P_EQTL,MARKERNAME)

In [29]:
write.table(eqtl_overlaps,"../../ANALYSIS/GTEX/EUR_EQTL_OVERLAPS_METSIM.txt",quote=FALSE,sep='\t')

In [61]:
## OVERLAP

In [62]:
eur_ems <- merge(ems,EUR_RESULTS,by=c("CHROMOSOME","POSITION"))%>%filter(ADIPO_NEA==NEA & ADIPO_EA==EA & PVALUE_FE < 0.05)%>%select(CHROMOSOME,POSITION,GENE,EMS_N,Tissue)

In [63]:
write.table(eur_ems%>%mutate(scaled_EMS=stand01(EMS_N)),"../../ANALYSIS/EMS_OVERLAP/EUR_OVERLAP_EMS.TAB",row.names=FALSE,quote=FALSE,sep="\t")

In [64]:
head(eur_ems)

  CHROMOSOME POSITION GENE            EMS_N   Tissue
1 1          10003457 ENSG00000228150 3966000 Thyroid
2 1          10003457 ENSG00000162441  754000 Kidney_Cortex
3 1          10003457 ENSG00000173614  754000 Kidney_Cortex
4 1          10003457 ENSG00000228150  909800 Heart_Left_Ventricle
5 1          10003457 ENSG00000202415  793000 Muscle_Skeletal
6 1          10003457 ENSG00000202415 1303000 Heart_Left_Ventricle

In [72]:
trans_ems%>%filter(GENE=="ENSG00000181092")

  CHROMOSOME POSITION  GENE            EMS_N  Tissue
1 3          186522737 ENSG00000181092 292000 Liver
2 3          186524726 ENSG00000181092 165500 Liver

In [73]:
TRANSANCESTRY_RESULTS%>%filter(CHROMOSOME==3 & POSITION==186524726)

  MARKERNAME CHROMOSOME POSITION  ADIPO_EA ADIPO_NEA ADIPO_EAF ADIPO_N
1 rs3917086  3          186524726 A        C         0.01667   17839
  ADIPO_BETA ADIPO_SE ADIPO_PVALUE ... PVALUE_BE I_SQUARE Q       PVALUE_Q
1 -0.023938  0.019856 0.2423801    ... NA        76.2307  8.41422 0.0148893
  TAU_SQUARE PVALUE_ADIPOGEN PVALUE_AGEN PVALUE_METSIM TOTAL_N MAF_AVG
1 0.00318344 0.227979        0.000830289 0.932424      32215   0.03215832